@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
  margin: auto;
  background-image: url('./assets/tulip-pattern.png');
  background-color: #EFE4F9;
}

/* global text styling */
p, a {
  font-family: "Jersey 25", sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  margin: 2%;
}

/* card-container has the tabs AND card */
.card-container{
  margin: 0 auto;    
  display: table;
  width: 90%;
}

.tabs {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.tabs button {
  background-color: #5D526F;
  font-family: "Jersey 25", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 15px 15px 0 0;   
  padding: 20px;
}

.tabs button:hover {
  background-color: #907cb0;
}

.tabs button:active {
  background-color: #907cb0;
}

/* content/show-content are the card itself */

/* content class is for the unactive tab hence display=none*/
.content{
  display: none;
}

.show-content{
  display: block;
}

#front-card,
#projects-card, #design-card {
  margin: 0 auto;
  padding: 20px;
  background-color: #5D526F;
  border-radius: 0 25px 25px 25px;   
  position: relative;
}

.top-text{
  width: 100%;
  text-align: center;
  padding: 2%;
}

/* card-contents has the img+links div as well as the toggles*/
.card-contents{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}
/* pic contains the img, and github, linkedin, & email links*/
.pic {
  display: grid;
  align-items: center;
  justify-content: center;
}

/* dimensions for the img */
.profile-pic {
  object-fit: cover;
  width: 200px;
  height: 275px;
  border-radius: 10%;
}

.name, .pic .links {
  line-height: 5px;
  margin-top: 10%;
  text-align: center;
  justify-self: center;  
}

.links li {
  list-style: none;
}

.links {
  display: flex; /* keeps them inline*/
  gap: 15px;
  padding: 0;
}

.links img {
  width: 30px;
}

.toggle {
  grid-column: span 3;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.section-text {
  width: 100%;
  text-align: left;
  line-height: 30px;
  margin: auto 10px;
}

.inner-section {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.inner-section-text {
  width: 100%;
  text-align: left;
  line-height: 30px;
  margin-left: 10%;
}

/** star is from https://css-shape.com/star/ */
.star {
  width: 30px;
  height: 30px;
  background: #EFE4F9;
  aspect-ratio: 1;
  margin: 5%;
  clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
  cursor: pointer;
}

.star:hover {
  background: #c2b5ce;
  animation: tilt-n-move-shaking  0.35s infinite;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(3px, 3px) rotate(3deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-3px, 3px) rotate(-3deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
.calendar, .instagram{
  
}