@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-image: url('./assets/tulip-pattern.png');
    background-color: #EFE4F9;
}

p {
  padding: 2%;
  font-family: "Jersey 25", sans-serif;
  color: #FFFFFF;
  font-size: 30px;
}

.card {
  display: inline-block;
  margin: 20px auto;
  width: 775px;
  height: auto;
  padding: 20px;
  background-color: #5D526F;
  border-radius: 50px;
  flex-direction: column;
}

.card-contents{
  display: flex;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}

.pic{
  padding-left: 10%;
}

.profile-pic{
  object-fit: cover;
  width: 200px;
  height: 275px;
  border-radius: 10%;
}

.pic p, .pic .links{
  line-height: 5px;
  justify-items: start;
}

.links li{
  list-style: none;
  
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  
}

.links img {
  width: 30px;
}

.toggle{
  object-fit: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  padding-right: 10%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.section-text{
  width: 100%;
  text-align: left;
  line-height: 30px;
  margin: auto 10px;
}

/** star is from https://css-shape.com/star/ */
.star {
  width: 30px;  
  height: 30px;
  background: #EFE4F9;
  aspect-ratio: 1;
  margin: 5%;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
  cursor: pointer;
}

.star:hover{
  background: #c2b5ce;
}

