@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body{
  background-color: #EADEDA;
}

.card{
  background-color: #5D526F;
  width: 776px;
  height: 414px;
  border-radius: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  box-sizing: border-box;
}

.text{
  font-family: "Jersey 25", sans-serif;
  color: #FFFFFF;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}